body {
    font-family: sans-serif
}

li {
    list-style: none;
}

/* 下記、ヘッダー部分です！！！！！！ */
.header{
    height: 90px;
    background-color: #5C4C45;
}

.header img{   
    width: 15%;
    height: auto;
    float: left;
    padding-top:10px;

}

.header-list li{
    font-size: 50%;
    color: rgba(254, 255, 255, 0.952);
    float: left; 
    padding: 33px 20px;

}

/* 下記、メインコンテンツ部分です！！！！！！ */
.main{
    height: 580px;
}

h1 span{
    color:red;
}

h2{
    font-size:80%;
}

h3{
    font-size:80%;
    margin-top:30px;
    margin-bottom:5px;
    padding-bottom:10px;
    border-bottom: 2px double #D9D8D9    
}

.contents-item {
    float: left;
    padding-left:40px;
    padding-top:20px;
}

.contents-item p{
    font-size:60%;
}


.img_auction {
    width: 200px;
    height: auto;
}

.img_instagram {
    width: 200px;
    height: auto;
}

.table-date{
    padding-top: 245px;
}

table {
    font-size:60%;
}

/* 下記、フッダー部分です！！！！！！ */
.footer{
    height: 90px;
    background-color: #D9D8D9;
}

.footer img{   
    width: 15%;
    height: auto;
    float: left;
    padding-top:10px;

}

.footer-list {
    font-size: 50%;
    color: black;
    float: right; 
}

.footer-list li{
    padding-right: 10px;
    padding-bottom: 5px;
}